<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="utf-8" />
    <title>Lista Telefonica</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            margin: 20px auto;
        }
        .table {
            margin-top: 20px;
        }

        .selecionado {
            background-color: yellow;
        }

        .negrito {
            font-weight: bold;
        }
    </style>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script>
        angular.module("listaTelefonica", ["ngMessages"]);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope) {
            $scope.app = "Lista Telefonica";
            
            $scope.operadoras = [
                {nome: 'Oi', codigo: 14, categoria: "celular"},
                {nome: 'Vivo', codigo: 15, categoria: "celular"},
                {nome: 'Tim', codigo: 41, categoria: "celular"},
                {nome: 'GVT', codigo: 25, categoria: "fixo"},
                {nome: 'Embratel', codigo: 21, categoria: "fixo"}
            ]

            $scope.contatos = [
                {nome: "Pedro", telefone: "9999989898", data: new Date(), operadora:  {nome: 'Oi', codigo: 14, categoria: "celular"}, cor: "blue"},
                {nome: "Ana", telefone: "9999989778", data: new Date(), operadora: {nome: 'Vivo', codigo: 15, categoria: "celular"},cor: "yellow"},
                {nome: "Maria", telefone: "9999989853", data: new Date(), operadora: {nome: 'Tim', codigo: 41, categoria: "celular"}, cor: "red"}
            ];

            $scope.adicionarContato = function(contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
                $scope.contatoForm.$setPristine();
            }

            $scope.apagarContato = function(contatos) {
                $scope.contatos = contatos.filter(function(contato) {
                    if(!contato.selecionado) return contato;
                });
            }

            $scope.isContatoSelecionado = function(contatos) {
                return contatos.some(function (contato) {
                    return contato.selecionado;
                });
            }
        });
    </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h3>{{ app }}</h3>
        <table class="table" ng-show="contatos.length > 0">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>      
                <th>Data</th>          
                <th></th>
            </tr>
            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
                <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                <td>{{ contato.nome | uppercase }}</td>
                <td>{{ contato.telefone }}</td>
                <td>{{ contato.operadora.nome | lowercase }}</td>
                <td>{{ contato.data | date:'dd/MM/yyyy HH:mm' }}</td>
                <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
            </tr>
        </table>
        <hr>
        <form name="contatoForm">
            <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="nome" ng-required="true" minlength="10"/>
            <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
    
            <select class="form-control" ng-model="contato.operadora" ng-options="operadora as operadora.nome group by operadora.categoria for operadora in operadoras">
                <option value="">Selecione um operadora</option>
            </select>    

            <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar contato</button>
            <button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar contato</button>
        </form>

        <div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
            <div ng-message="required" class="alert alert-danger">
                Por favor, preencha o nome!
            </div>
            <div ng-message="minlength">
                O campo nome deve ter no mínimo 10 caracteres.
            </div>
        </div>

        
        <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
            Por favor, preencha o telefone!
        </div>
        <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
            O campo telefone deve ter o formato DDDDD-DDDD.
        </div>
    </div>

    <div ng-include="'footer.html'"></div>
</body>
</html>